<ion-view view-title="Задания">

  <ion-content class="padding quests">

    <ion-refresher
      pulling-text="Обновление..."
      on-refresh="vm.getAll()"
    >
    </ion-refresher>

    <ion-list ng-show='vm.objects.length > 0'>
        <div class="list card" ng-repeat="object in vm.objects">
          <div class="item item-divider item-icon-right item-icon-right">

            <h2 class="text-center">{{object.name}}</h2>

            <div ng-if="currentUser.role !== 'User'">
              <i ng-if="object.active === true" class="icon ion-close-round" ng-click="vm.block(object.id)"></i>
              <i ng-if="object.active === false" class="icon ion-checkmark" ng-click="vm.activate(object.id)"></i>
            </div>

          </div>
          <div class="item item-body">
            <div>
              {{object.description}}
            </div>
          </div>
        </div>
    </ion-list>

  </ion-content>
</ion-view>
