<ion-view title="Backand Social App Example">

  <ion-content class="padding has-header">

    <div class="bar bar-subheader">

      <div class="padding">
        <ion-list>
          <ion-item nav-clear menu-close class="dark-bg light item-icon-left" ng-click="login.facebookTokenSingin()">
            <i class="icon ion-social-facebook"></i>
            Facebook Login
          </ion-item>

        </ion-list>
      </div>
      <div class="card" ng-if="login.isLoggedWihtBackand">
        <div class="item item-divider">
          {{login.facebookToken}}
        </div>
        <div class="item item-text-wrap">
          <b>Username:</b> {{login.username}}
          <p><b>Role:</b> {{login.role}}</p>
        </div>
        <div class="item item-divider">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
